@import 'declarations';

body {
    background-color: $bgcolor-5;
}


.carousel {
    border: 1px dotted yellow;
    width: 500px;
    height: 700px;

    position: relative;
    perspective: 500px;

    &__slice {
        width: 50px;
        height: 500px;

        // border: 1px solid #0008;
        position: absolute;
        left: calc(50% - 26px);
        top: 100px;
    
        transform-origin: center center -260px;
        transform: rotateY(90deg);
                        
        background-size: auto 400px, 50px 50px, 50px 50px, auto 400px;
        background-repeat: repeat-X, repeat-X, no-repeat;

        $lastGColor:#000;
        @for $n from 1 through 10 {
            &:nth-child(#{$n}) {
                transform: rotateY($n * 10deg - 50deg); 
                @include b-position(-50px * $n center);

                @keyframes slide-#{$n} {
                    from { @include b-position(-50px * $n center)}
                    to {@include b-position(-50px * $n -50px center)};
                }



                animation: slide-#{$n} 5s infinite;
                

                @if $n <= 6 {
                    @include b-image(
                        lighten($lastGColor, $n * 4%), 
                        $lastGColor, 
                        lighten($lastGColor, $n * 5%));
    
                    $lastGColor: lighten($lastGColor, $n * 3%);

                }@else {
                    @include b-image(
                        darken($lastGColor, $n * 2%), 
                        $lastGColor, 
                        darken($lastGColor, $n * 2%));
    
                    $lastGColor: darken($lastGColor, $n *  2%);

                }


                
            background-blend-mode: overlay;
                   
            }
        }
        
    
    }
    
}

@media only screen and(max-width: 1000px) {
    

    .carousel{
        width: 100%;
    
        transform: rotate(90deg)

    }
}
@media only screen and(min-width: 1001px) {
    

    .carousel{
        width: 100%;


    }
}


