body {
  background-color: #1e292f;
}

.carousel {
  border: 1px dotted yellow;
  width: 500px;
  height: 700px;
  position: relative;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.carousel__slice {
  width: 50px;
  height: 500px;
  position: absolute;
  left: calc(50% - 26px);
  top: 100px;
  -webkit-transform-origin: center center -260px;
          transform-origin: center center -260px;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  background-size: auto 400px, 50px 50px, 50px 50px, auto 400px;
  background-repeat: repeat-X, repeat-X, no-repeat;
}

.carousel__slice:nth-child(1) {
  -webkit-transform: rotateY(-40deg);
          transform: rotateY(-40deg);
  background-position: -50px center, top, bottom, -50px center;
  -webkit-animation: slide-1 5s infinite;
          animation: slide-1 5s infinite;
  background-image: -webkit-gradient(linear, left top, right top, from(#000), to(#0a0a0a)), radial-gradient(transparent 40%, #0d0d0d 42%), radial-gradient(transparent 40%, #0d0d0d 42%), url(lake.jpeg);
  background-image: linear-gradient(90deg, #000, #0a0a0a), radial-gradient(transparent 40%, #0d0d0d 42%), radial-gradient(transparent 40%, #0d0d0d 42%), url(lake.jpeg);
  background-blend-mode: overlay;
}

@-webkit-keyframes slide-1 {
  from {
    background-position: -50px center, top, bottom, -50px center;
  }
  to {
    background-position: -50px center, top, bottom, -50px -50px center;
  }
}

@keyframes slide-1 {
  from {
    background-position: -50px center, top, bottom, -50px center;
  }
  to {
    background-position: -50px center, top, bottom, -50px -50px center;
  }
}

.carousel__slice:nth-child(2) {
  -webkit-transform: rotateY(-30deg);
          transform: rotateY(-30deg);
  background-position: -50px center, top, bottom, -100px center;
  -webkit-animation: slide-2 5s infinite;
          animation: slide-2 5s infinite;
  background-image: -webkit-gradient(linear, left top, right top, from(#080808), to(#1c1c1c)), radial-gradient(transparent 40%, #212121 42%), radial-gradient(transparent 40%, #212121 42%), url(lake.jpeg);
  background-image: linear-gradient(90deg, #080808, #1c1c1c), radial-gradient(transparent 40%, #212121 42%), radial-gradient(transparent 40%, #212121 42%), url(lake.jpeg);
  background-blend-mode: overlay;
}

@-webkit-keyframes slide-2 {
  from {
    background-position: -50px center, top, bottom, -100px center;
  }
  to {
    background-position: -50px center, top, bottom, -100px -50px center;
  }
}

@keyframes slide-2 {
  from {
    background-position: -50px center, top, bottom, -100px center;
  }
  to {
    background-position: -50px center, top, bottom, -100px -50px center;
  }
}

.carousel__slice:nth-child(3) {
  -webkit-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
  background-position: -50px center, top, bottom, -150px center;
  -webkit-animation: slide-3 5s infinite;
          animation: slide-3 5s infinite;
  background-image: -webkit-gradient(linear, left top, right top, from(#171717), to(#363636)), radial-gradient(transparent 40%, #3d3d3d 42%), radial-gradient(transparent 40%, #3d3d3d 42%), url(lake.jpeg);
  background-image: linear-gradient(90deg, #171717, #363636), radial-gradient(transparent 40%, #3d3d3d 42%), radial-gradient(transparent 40%, #3d3d3d 42%), url(lake.jpeg);
  background-blend-mode: overlay;
}

@-webkit-keyframes slide-3 {
  from {
    background-position: -50px center, top, bottom, -150px center;
  }
  to {
    background-position: -50px center, top, bottom, -150px -50px center;
  }
}

@keyframes slide-3 {
  from {
    background-position: -50px center, top, bottom, -150px center;
  }
  to {
    background-position: -50px center, top, bottom, -150px -50px center;
  }
}

.carousel__slice:nth-child(4) {
  -webkit-transform: rotateY(-10deg);
          transform: rotateY(-10deg);
  background-position: -50px center, top, bottom, -200px center;
  -webkit-animation: slide-4 5s infinite;
          animation: slide-4 5s infinite;
  background-image: -webkit-gradient(linear, left top, right top, from(#2e2e2e), to(#575757)), radial-gradient(transparent 40%, #616161 42%), radial-gradient(transparent 40%, #616161 42%), url(lake.jpeg);
  background-image: linear-gradient(90deg, #2e2e2e, #575757), radial-gradient(transparent 40%, #616161 42%), radial-gradient(transparent 40%, #616161 42%), url(lake.jpeg);
  background-blend-mode: overlay;
}

@-webkit-keyframes slide-4 {
  from {
    background-position: -50px center, top, bottom, -200px center;
  }
  to {
    background-position: -50px center, top, bottom, -200px -50px center;
  }
}

@keyframes slide-4 {
  from {
    background-position: -50px center, top, bottom, -200px center;
  }
  to {
    background-position: -50px center, top, bottom, -200px -50px center;
  }
}

.carousel__slice:nth-child(5) {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  background-position: -50px center, top, bottom, -250px center;
  -webkit-animation: slide-5 5s infinite;
          animation: slide-5 5s infinite;
  background-image: -webkit-gradient(linear, left top, right top, from(#4d4d4d), to(gray)), radial-gradient(transparent 40%, #8c8c8c 42%), radial-gradient(transparent 40%, #8c8c8c 42%), url(lake.jpeg);
  background-image: linear-gradient(90deg, #4d4d4d, gray), radial-gradient(transparent 40%, #8c8c8c 42%), radial-gradient(transparent 40%, #8c8c8c 42%), url(lake.jpeg);
  background-blend-mode: overlay;
}

@-webkit-keyframes slide-5 {
  from {
    background-position: -50px center, top, bottom, -250px center;
  }
  to {
    background-position: -50px center, top, bottom, -250px -50px center;
  }
}

@keyframes slide-5 {
  from {
    background-position: -50px center, top, bottom, -250px center;
  }
  to {
    background-position: -50px center, top, bottom, -250px -50px center;
  }
}

.carousel__slice:nth-child(6) {
  -webkit-transform: rotateY(10deg);
          transform: rotateY(10deg);
  background-position: -50px center, top, bottom, -300px center;
  -webkit-animation: slide-6 5s infinite;
          animation: slide-6 5s infinite;
  background-image: -webkit-gradient(linear, left top, right top, from(#737373), to(#b0b0b0)), radial-gradient(transparent 40%, #bfbfbf 42%), radial-gradient(transparent 40%, #bfbfbf 42%), url(lake.jpeg);
  background-image: linear-gradient(90deg, #737373, #b0b0b0), radial-gradient(transparent 40%, #bfbfbf 42%), radial-gradient(transparent 40%, #bfbfbf 42%), url(lake.jpeg);
  background-blend-mode: overlay;
}

@-webkit-keyframes slide-6 {
  from {
    background-position: -50px center, top, bottom, -300px center;
  }
  to {
    background-position: -50px center, top, bottom, -300px -50px center;
  }
}

@keyframes slide-6 {
  from {
    background-position: -50px center, top, bottom, -300px center;
  }
  to {
    background-position: -50px center, top, bottom, -300px -50px center;
  }
}

.carousel__slice:nth-child(7) {
  -webkit-transform: rotateY(20deg);
          transform: rotateY(20deg);
  background-position: -50px center, top, bottom, -350px center;
  -webkit-animation: slide-7 5s infinite;
          animation: slide-7 5s infinite;
  background-image: -webkit-gradient(linear, left top, right top, from(#a1a1a1), to(#7d7d7d)), radial-gradient(transparent 40%, #7d7d7d 42%), radial-gradient(transparent 40%, #7d7d7d 42%), url(lake.jpeg);
  background-image: linear-gradient(90deg, #a1a1a1, #7d7d7d), radial-gradient(transparent 40%, #7d7d7d 42%), radial-gradient(transparent 40%, #7d7d7d 42%), url(lake.jpeg);
  background-blend-mode: overlay;
}

@-webkit-keyframes slide-7 {
  from {
    background-position: -50px center, top, bottom, -350px center;
  }
  to {
    background-position: -50px center, top, bottom, -350px -50px center;
  }
}

@keyframes slide-7 {
  from {
    background-position: -50px center, top, bottom, -350px center;
  }
  to {
    background-position: -50px center, top, bottom, -350px -50px center;
  }
}

.carousel__slice:nth-child(8) {
  -webkit-transform: rotateY(30deg);
          transform: rotateY(30deg);
  background-position: -50px center, top, bottom, -400px center;
  -webkit-animation: slide-8 5s infinite;
          animation: slide-8 5s infinite;
  background-image: -webkit-gradient(linear, left top, right top, from(#7d7d7d), to(#545454)), radial-gradient(transparent 40%, #545454 42%), radial-gradient(transparent 40%, #545454 42%), url(lake.jpeg);
  background-image: linear-gradient(90deg, #7d7d7d, #545454), radial-gradient(transparent 40%, #545454 42%), radial-gradient(transparent 40%, #545454 42%), url(lake.jpeg);
  background-blend-mode: overlay;
}

@-webkit-keyframes slide-8 {
  from {
    background-position: -50px center, top, bottom, -400px center;
  }
  to {
    background-position: -50px center, top, bottom, -400px -50px center;
  }
}

@keyframes slide-8 {
  from {
    background-position: -50px center, top, bottom, -400px center;
  }
  to {
    background-position: -50px center, top, bottom, -400px -50px center;
  }
}

.carousel__slice:nth-child(9) {
  -webkit-transform: rotateY(40deg);
          transform: rotateY(40deg);
  background-position: -50px center, top, bottom, -450px center;
  -webkit-animation: slide-9 5s infinite;
          animation: slide-9 5s infinite;
  background-image: -webkit-gradient(linear, left top, right top, from(#545454), to(#262626)), radial-gradient(transparent 40%, #262626 42%), radial-gradient(transparent 40%, #262626 42%), url(lake.jpeg);
  background-image: linear-gradient(90deg, #545454, #262626), radial-gradient(transparent 40%, #262626 42%), radial-gradient(transparent 40%, #262626 42%), url(lake.jpeg);
  background-blend-mode: overlay;
}

@-webkit-keyframes slide-9 {
  from {
    background-position: -50px center, top, bottom, -450px center;
  }
  to {
    background-position: -50px center, top, bottom, -450px -50px center;
  }
}

@keyframes slide-9 {
  from {
    background-position: -50px center, top, bottom, -450px center;
  }
  to {
    background-position: -50px center, top, bottom, -450px -50px center;
  }
}

.carousel__slice:nth-child(10) {
  -webkit-transform: rotateY(50deg);
          transform: rotateY(50deg);
  background-position: -50px center, top, bottom, -500px center;
  -webkit-animation: slide-10 5s infinite;
          animation: slide-10 5s infinite;
  background-image: -webkit-gradient(linear, left top, right top, from(#262626), to(black)), radial-gradient(transparent 40%, black 42%), radial-gradient(transparent 40%, black 42%), url(lake.jpeg);
  background-image: linear-gradient(90deg, #262626, black), radial-gradient(transparent 40%, black 42%), radial-gradient(transparent 40%, black 42%), url(lake.jpeg);
  background-blend-mode: overlay;
}

@-webkit-keyframes slide-10 {
  from {
    background-position: -50px center, top, bottom, -500px center;
  }
  to {
    background-position: -50px center, top, bottom, -500px -50px center;
  }
}

@keyframes slide-10 {
  from {
    background-position: -50px center, top, bottom, -500px center;
  }
  to {
    background-position: -50px center, top, bottom, -500px -50px center;
  }
}

@media only screen and (max-width: 1000px) {
  .carousel {
    width: 100%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media only screen and (min-width: 1001px) {
  .carousel {
    width: 100%;
  }
}
/*# sourceMappingURL=carousel.css.map */