.form {
    border: 1px solid #999;
    padding: 20px;
}
button {
    border: 15px;
}
button,
input {
    padding: 20px;
}

button.success {
    background-color: green;
    color: white
}

button.danger {
    background-color: red;
    color: white
}

button.warning {
    background-color: orange;
    color: white
}

button.disabled {
    background-color: gray;
    color: black
}

button.default {
    background-color: white;
    color: black
}