.flake{
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;

    border-radius: 100%;
    color: transparent;
    
}

.flakeColor{
    background-color: rgb(123, 240, 240);
}


.anotherFlakeColor{
    background-color: rgb(106, 181, 206);
}

