body{
    margin: 0
}

.container { 
    height: 100vh;
    width: 100vw;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.quote-container{
    /* border: 1px solid black; */
    height: 20%;
    width: 98%;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6)
}

#quote {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.line {
    height: 0;
    width: 99%;
    border: 1px solid #777;

}
#author {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-style: italic;
    
}
button {
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: .5px;
    border-radius: 5px;
    
}