body{
    display: flex;
    justify-content: center;
}

.container {
    
    box-shadow: 1px 1px 6px #777;
    transition: 0.4s linear;
    width: 250px;
    padding: 20px;
    background-color: antiquewhite;
}

.container:hover {
    box-shadow: 1px 1px 4px #999;
    transition: 0.2s ease-in-out;
}

h2{
    color: darkslategray;
}

.output {
    padding: 5px;
    
}

input {
    border: none;
    margin-bottom: 10px;
}

#submit {
    background-color: darkslategray;
    color: #fff;
}

