body{
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid black;
    
    
    width: 250px;
    padding: 20px;
    background-color: antiquewhite;
}

h2{
    color: darkslategray;
}

.output {
    padding: 5px;
    
}

input {
    border: none;
    margin-bottom: 10px;
}

#submit {
    background-color: darkslategray;
    color: #fff;
}

